*{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


.logo{ 
  margin: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #fff!important;;
  text-decoration: none;
}

 
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;  
}

.container-fluid a:nth-child(1) {
  margin-left: 50px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a { 
  /* float: right; */
  text-align: left;
}

#nav-bar ul li a:hover {
  color: #97BDAB!important;
}

.navbar {
  background: white;
}

.navbar-toggler {
  border: none!important;
}

.nav-link {
  color: #fff!important;
  font-weight: 600;
  font-size: 15px;
}

.navbar-nav {
  margin-right: 5%;
}

.banner {
    width: 100%;
    height: 460px;
    background-image: url(img/fHn488K.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
 
.about-text {
  width: 65%;
  margin-top: -22px;
  margin-left: 35px;
  height: 320px;
  /* box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);  */
  background-size: cover;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

.about-text p:nth-child(1){
  color: black;
  font-family: myriad pro;
  font-weight: bold;
  font-size: 35px;
  line-height: 50px;
}

.about-text p:nth-child(2){
  color: black;
  font-family: Calibri; 
  font-size: 20px; 
}

.profile  {
  width: 300px;
  height: 320px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about{
  margin-left: 8%;
  height: 400px;
  margin-top: 10%;
  display: flex;
  /* justify-content: space-evenly; */
}

.profile-text p { 
  color: black;
  font-size: 20px; 
  font-family: calibri;
  text-align: center;
  width: 230px;
  margin: 20px 0px 15px 0px;
}

.profile img { 
  border-radius: 10000px;
  height: 200px;
}
 
.profile .social-icon {
  display: flex; 
  justify-content: center;
}

.profile .social-icon a{
  text-decoration: none;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: inline-flex; 
  border-radius: 50%;
  background: #e6e3e3;
  margin: 10px; 
  background-size: 100% 200%;
  background-position: 0% 0%;
  transition: background-position 0.5s, color  0.5s;
}

.profile   .social-icon a:nth-child(1){
  color: #1976d3;
  background-image: linear-gradient(#e6e3e3 50%, #1976d3 50%);

}

.profile  .social-icon  a:nth-child(2){ 
  color: black;
  background-image: linear-gradient(#e6e3e3 50%, black 50%);
}
.profile  .social-icon  a:hover {
  background-position: 0% 100%;
  color: white;
}

#educatoin {
  margin-top: 50px; 
}


.description {
  margin-top: 20px;
}

.description p:nth-child(1), .description p:nth-child(2)  {
  font-size: 15px;
  line-height: 10px;
}




@media screen and (max-width: 450px) {

  .logo{   
    transform: translateX(-50%);
  }

  #about{
    justify-content: center;
    flex-wrap: wrap;   
    
    /* margin-left: 0px; */
    /* margin: 100px 0px 500px 0px ; */
     
  }

  .profile img {
    border-radius: 10000px;
    height: 200px;
  }

  .about-text  {
    transform: translateY(30%);
  }

  .profile{
    transform: translate(-5%, 15%);
  }

.profile, .about-text {
    flex-grow: 1;
    margin: 10px;
  }
  
 
.about-text {
  width: 100px;
}

.about-text p:nth-child(2){
  margin: 0px;
  padding: 0px; 
}

#educatoin{
  padding-bottom: 100px;
}
}
