/* Universal Settings
--------------------------------------------------------------------------------------------------------------- */

@charset "utf-8";
body {
    background: white;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* navigation
--------------------------------------------------------------------------------------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background-color: black;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 50);
    padding: 15px 5%;
}

nav ul {
    display: flex;
    
}

nav ul li a {
    margin: 25px;
    font-family: myriad pro regular;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    /* opacity:1; */
}


nav ul li:last-child{
    margin-right:10px;
}


.logo{
    font-family: 'Merriweather', sans-serif;;
    margin: 20px;
    font-size:1.4rem; 
    font-weight:700; 
    color: #fff;
}


nav ul li a:hover {
    visibility:visible; 
    /* opacity:0.8; */
    color: #97BDAB;
}

.banner {
    width: 100%;
    height: 480px;
    background-image: url(img/fHn488K.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* profile
--------------------------------------------------------------------------------------------------------------- */

 
#about {
    width: 80%;
    height: 330px; 
    border-radius: 20px;
    display: flex;
    margin: 8% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

#about img {
    border-radius: 10000px;
    height: 250px;
}

.about-text{
    /* margin-top: -130px; */
    width: 550px;  
    transform: translateY(-40%);
}

.about-text p:nth-child(1){
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 35px;
    line-height: 5px;
}



.about-text p:nth-child(2){
    color: black;
    font-family: Calibri; 
    font-size: 20px; 
}

.about-text button {
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-family: Calibri;
    background: #262525;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#profile p {
    font-size: 20px; 
    font-family: Calibri; 
    text-align: center;
    justify-content: center;
    align-items: center;
}


#profile .social-icon {
    display: flex;
}



#profile .social-icon a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: inline-flex; 
    border-radius: 50%;
    background: #e6e3e3;
    margin: 10px; 
    background-size: 100% 200%;
    background-position: 0% 0%;
    transition: background-position 0.5s, color  0.5s;
}


#profile  .social-icon a:nth-child(1){
    color: #1976d3;
    background-image: linear-gradient(#e6e3e3 50%, #1976d3 50%);
  
  }
  
  #profile  .social-icon  a:nth-child(2){ 
    color: black;
    background-image: linear-gradient(#e6e3e3 50%, black 50%);
  }
  
  #profile  .social-icon  a:hover {
    background-position: 0% 100%;
    color: white;
  }


@media(max-width:1000px){
    .about-text{
        transform: translateY(-10%);
        margin-left: 100px;
    }
    #profile{
        transform: translateY(10%);
    }
}



@media(max-width:750px){
    #profile{
        transform: translateY(-10%);
    }
    #about{
        top: 0px;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 100px 0px;
        align-items: center;
    }
}

