.container {
  min-height: calc(100vh - 350px);
  position: relative;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 80px;
  max-width: rem($mdx-content-width + $table-content-width);
  width: 100%;

  @mixin light {
    background-color: var(--mantine-color-white);
    box-shadow: var(--mantine-shadow-sm);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-7);
    box-shadow: none;
  }

  @media (max-width: $mdx-breakpoint) {
    padding-bottom: 80px;
  }
}
